.fondo 
{
    background: url('/imgs/render_green.jpeg') no-repeat center center; 
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.15;
}

.chart {
        width: 100%;
        height: 300px;
        display: block;
      }