#budget-create-component
{
    position: absolute; 
    top: 40px;
    left: 0;
    backdrop-filter: blur(20px);
    min-width: 100%; 
    min-height: calc(100% - 40px); 
    z-index: 18000;
    color: gray;
    overflow-y: hidden;

    #budget-panel-box
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 550px;
        background-color: white;
        border-radius: 14px;
        box-shadow: 0 0 8px gainsboro;
        padding: 20px;
    }

    #property-quotas-box
    {
        top: 20px;
        left: 830px;
        width: 370px;
        height: 620px;
        background-color: #fbfbfb;
        border-radius: 12px;
        box-shadow: 0 0 4px gainsboro;
        padding: 0px;
        overflow-y: auto;
    }
}

.col-title
{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.col-value
{
    font-size: 15px;
    color: gray;
    padding-left: 15px;
}