<div id="budget-create-component" style="display: none;">

    <div id="side-container" style="display: flex; align-items: center; margin-top: 30px; margin-left: 30px;">
        <div id="side-a" style="width: 350px;">

            <div id="panel-client-name" style="background-color: #fbfbfb; min-width: 280px; box-shadow: 0 0 4px #bbbbbb; border-radius: 10px; padding: 10px;  color: #444444; display:block;" >
                <div style="display: flex; align-items: center; " class="project-card">
                    <i class="fa-regular fa-user-viewfinder" style="font-size: 36px; margin-right: 15px; color: var(--color-b);"></i>
                    <div>
                        <div style="font-size: 14px;"><b>Carlos Valderrama</b></div>
                        <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">CC. 53.234.434&nbsp;&nbsp;[Cliente]</div>
                        <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">carlos.valderrama@example.com</div>
                        <!--
                            <div style="font-size: 14px;"><b>{{ this.propertiesQuotationService.client.name.toUpperCase() }}&nbsp;{{ this.propertiesQuotationService.client.lastName1.toUpperCase() }}</b></div>
                            <div style="font-size: 14px; margin-top: 4px; color: var(--gray);">CC. {{ this.propertiesQuotationService.client.pmsId }}</div>
                            <div style="font-size: 14px; margin-top: 4px; color: var(--gray);">{{ this.propertiesQuotationService.client.email }}</div>
                        -->
                    </div>
                </div>
            </div>   

            <div id="panel-property-name" style="margin-top: 20px; background-color: #fbfbfb; min-width: 280px; box-shadow: 0 0 4px #bbbbbb; border-radius: 10px; padding: 10px;  color: #444444; display:block;" >
                <div align="left">
                    <div style="display: flex; align-items: center;  padding-right: 20px; " class="project-card">
                        <i class="fa-regular fa-house-blank" style="font-size: 36px; margin-right: 15px; color: var(--color-b);"></i>
                        <div>
                            <div style="font-size: 15px;"><b>L45</b></div>
                            <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">Área: 345 m2</div>
                            <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">Valor: $72.000.000</div>
                            <!--
                                <div style="font-size: 15px;"><b>{{ this.propertiesQuotationService.property.code?.toUpperCase() }}</b></div>
                                <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">Área: {{ this.propertiesQuotationService.property.area }} m2</div>
                                <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">Valor: ${{ this.propertiesQuotationService.property.amount | number: '1.0-0' }}</div>
                            -->
                        </div>
                    </div>
                </div>

                <div class="button-small" style="margin-top: 0px; text-align: right;">
                    <a (click)="showPropertySearch(true)">Cambiar</a>
                </div>
            </div>


            <div id="panel-agent-name" style="margin-top: 20px; background-color: #fbfbfb; min-width: 280px; box-shadow: 0 0 4px #bbbbbb; border-radius: 10px; padding: 10px;  color: #444444; display:block;" >
                <div align="left">
                    <div style="display: flex; align-items: center;  padding-right: 20px; " class="project-card">
                        <i class="fa-regular fa-user-tie" style="font-size: 36px; margin-right: 15px; color: var(--color-b);"></i>
                        <div>
                            <div style="font-size: 15px;"><b>Pablo Picapiedra</b></div>
                            <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">CC. 76.424.434&nbsp;&nbsp;[Asesor]</div>
                            <!--<div style="font-size: 14px; margin-top: 0px; color: var(--gray);">Asesor</div>-->
                            <!--
                                <div style="font-size: 15px;"><b>{{ this.propertiesQuotationService.property.code?.toUpperCase() }}</b></div>
                                <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">Área: {{ this.propertiesQuotationService.property.area }} m2</div>
                                <div style="font-size: 14px; margin-top: 0px; color: var(--gray);">Valor: ${{ this.propertiesQuotationService.property.amount | number: '1.0-0' }}</div>
                            -->
                        </div>
                    </div>
                </div>

                <div class="button-small" style="margin-top: 0px; text-align: right;">
                    <a (click)="showPropertySearch(true)">Cambiar</a>
                </div>
            </div>

            <app-property-quote-card-component></app-property-quote-card-component>

        </div>

        <div id="side-b" style="width: 400px; margin-left: 30px;">
            <app-property-quote-form-component></app-property-quote-form-component>
        </div>

        <div id="side-c" style="width: 380px; margin-left: 30px;">
            <div id="property-quotas-box">
                <div class="row-header">
                    <div class="col" style="max-width: 30px;" align="right"></div>
                    <div class="col" style="max-width: auto;">Concepto</div>
                    <div class="col" style="max-width: 80px;">Fecha</div>
                    <div class="col" style="max-width: 80px;" align="right">Valor</div>
                </div>

                @for(quota of this.propertiesQuotationService.quotas; track $index)
                {
                    <div class="row">
                        <div class="col" style="max-width: 30px;" align="center">{{quota.number}}</div>
                        <div class="col" style="max-width: auto;">{{quota.type}}</div>
                        <div class="col" style="max-width: 80px;">{{ quota.dueDate | date: 'dd/MM/yyyy' }}</div>
                        <div class="col" style="max-width: 80px;" align="right">${{quota.amount | number : '1.0-0' : 'en-US'}}</div>
                    </div>
                }
            </div>

            <div class="button" style="margin-top: 20px; text-align: right; padding-right: 10px;">
                <a (click)="onCancel()">Cancelar</a>
                &nbsp;<a (click)="onCreate()">Guardar datos</a>
            </div>

        </div>

    </div>
</div>

<app-client-search-component></app-client-search-component>