.row-header{
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;

    .col
    {
        color: #444444;
        flex: 1;
        padding: 10px;
        border-right: 0.5px solid gainsboro;
    }

    .col-image
    {
        min-width: 40px;
        max-width: 40px;
        align-items: end;
        padding: 0px;
        padding-top: 4px;
        padding-left: 10px;
    }
}

.row
{
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
    /*border: 1px solid gainsboro;*/

    .col
    {
        color: #444444;
        flex: 1;
        padding: 10px;
        border-right: 0.5px solid gainsboro;
    }

    .col-image
    {
        min-width: 40px;
        max-width: 40px;
        align-items: end;
        padding: 0px;
        padding-top: 4px;
        padding-left: 10px;
    }

    .col-button
    {
        color: #444444;
        flex: 1;
        padding-left: 10px;
        padding-right: 10px;    
        padding-top: 5px;
        padding-bottom: 5px;
        border-right: 0.5px solid gainsboro;
    }
}

.row:nth-child(odd) {
  background-color: #ffffff; /* Un color claro para las filas impares */
}

/* Tabla: fila pares */
.row:nth-child(even) {
  background-color: #f7f9fa; /* Un color diferente para las filas pares */
}

.row:last-child {
  /* Your styles for the last table row */
  border-bottom: 1px solid gainsboro;
}


.row:hover
{
    cursor: pointer;

    .col
    {
        color: var(--color-b);
    }
}

.table-content
{
    overflow-y: auto; 
    max-height: calc(100% - 0px); 
    width: calc(100% - 0px); 
    /*position: absolute; */
    color:black;
}

.main-container{
    position: absolute; 
    top: 60px; 
    left: 20px; 
    width: calc(100% - 90px); 
    height: calc(100% - 110px); 
    border: 0.7px solid gainsboro;
    border-radius: 10px; 
    background-color: white; 
    z-index: 50;
}

/* Modern main container override for clients list */
.main-container.modern-layout {
    border: none;
    background: transparent;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.table-content-detail
{
    overflow-y: auto; 
    width: calc(100% - 0px); 
    color:black;
    max-height: 300px;
}

.row-detail
{
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;

    .col
    {
        color: #444444;
        flex: 1;
        padding: 5px;    
        padding-left: 10px;    
    }
}

.row-detail:nth-child(odd) {
  background-color: #ffffff; /* Un color claro para las filas impares */
}

/* Tabla: fila pares */
.row-detail:nth-child(even) {
  background-color: #f7f9fa; /* Un color diferente para las filas pares */
}

.row-detail:hover
{
    cursor: pointer;

    .col
    {
        color: var(--color-b);
    }
}