<div class="property-card">
    <i class="fa-regular fa-house-blank" style="font-size: 30px; margin-right: 15px; margin-top: 10px; color: var(--color-b);"></i>
    <div style="margin-bottom: 15px;">
        <div id="property-code">{{property()?.code}}</div>
        <div id="property-area" style="font-size: 16px; margin-bottom: 10px; position: absolute; top: 15px; right: 10px;">{{property()?.area}}m2</div>
        <div id="property-width" style="font-size: 16px; margin-bottom: 10px; position: absolute; top: 41px; left: 60px;">{{property()?.width}}m  x  {{property()?.depth}}m</div>
        <div id="property-amount" style="font-size: 16px; margin-bottom: 10px; position: absolute; top: 41px; right: 10px;">${{property()?.amount | number : '1.0-0' : 'en-US'}}</div>
    </div>
</div>

