.property-card
{
    padding: 10px; 
    border-bottom: 0.5px solid #f3f3f3; 
    position: relative; 
    color: #444444;

    #property-code
    {
        font-size: 18px; 
        margin-bottom: 10px; 
        position: absolute; 
        top: 15px; 
        left: 60px; 
        font-weight: bold;
        color: var(--color-a);
    }
}

.property-card:hover
{
    background-color: #f9f9f9;
    cursor: pointer;
}

.property-card:active
{
    background-color: #f3f3f3;
    cursor: pointer;
}