<div id="property-create-component" style="display: none;">

    <div style="position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 16px; z-index: 100; color: #333333;">
        CREACIÓN DE PROPIEDAD
    </div>
    
    <div id="property-create-box">
        <div style="display: flex; flex-direction: row; align-items: center;">

        </div>

        <div>
            <div class="button" style="margin-top: 20px;">
                <!--
                <a (click)="doCreate()">Crear Nueva</a>
                &nbsp;
                <a (click)="triggerCancelAction()">Cancelar</a>
                -->
            </div>
        </div>
    </div>
</div>
