#select_project_button
{
    position: absolute; 
    right: 15px; 
    bottom: 13px; 
    z-index: 20000; 
    font-size: 12px;
    text-align: end;
}

#project-selector
{
    position: absolute; 
    visibility: visible; 
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    min-width: 100%; 
    min-height: 100%; 
    z-index: 20000;
    color: gray;
}

#close-project-selector a
{
    position: absolute; 
    top: 15px; 
    right: 15px; 
    font-size: 24px; 
    color: var(--color-a); 
    cursor: pointer;
}

#close-project-selector a:hover
{
    color: var(--color-b); 
}


#panel-project-selector
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 0 8px gainsboro;
    padding: 20px;
}

#panel-project-selector-content
{
    margin-top: 10px;
    border: 0.8px solid #f3f3f3;
    border-radius: 12px;
    overflow: auto; 
    height: calc(100% - 60px); 
    max-height: 500px;  
}

.button-selector a
{
    width: 80px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    color: var(--color-a);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid var(--color-a);
    background: #eff6f9;
}

.button-selector a:hover
{
    cursor: pointer;
    background: var(--hover-color, var(--color-a));
    color: var(--white);
    text-decoration: none;
}

.button-selector a:active
{
    background: var(--hover-color, var(--color-b));
}