
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
        filled-active-indicator-height: 0,
    filled-focus-active-indicator-height: 0,
    outline-active-indicator-height: 0, // For outline appearance
    outline-focus-active-indicator-height: 0 // For outline appearance
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

  .mat-raised-button {
    border-radius: 30px; // Custom rounded corners
    padding: 10px 20px;
    border: 0;
  }

  .mat-raised-button:hover 
  {
    border-radius: 30px; // Custom rounded corners
    padding: 10px 20px;
  }

    .mat-raised-datepicker {
    border-radius: 30px; // Custom rounded corners
    padding: 0px 0px;
    border: 0;
    height: auto !important;
    padding: 0px;
      border-bottom-width: 0 !important;

  }

.mdc-text-field
{
  background-color: var(--background) !important;
  border: 1px solid #cccccc !important;
  height: 37px !important;
  font-size: 15px !important;
  /*text-transform: uppercase;*/
  padding-left: 15px !important;
  padding-right: 10px !important;
  border-radius: 12px !important;
  position: unset !important;

}

.mdc-text-field:hover
{
  border: 1px solid var(--color-a) !important;

  mat-date-range-input
  {
    color: aliceblue !important;

    .input
    {
      color: aliceblue !important;
    }
  }

  .mat-datepicker-toggle
  {
    color: aliceblue !important;
  }

}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control
{
 
  padding: 0px !important;
}


.mat-mdc-form-field-subscript-wrapper 
{
  background-color: var(--color-a) !important;
  display: none !important;
}

.mat-mdc-icon-button
{
  color: var(--color-a) !important;
  height: 48px !important;
  width: 48px !important;
  padding: 0px !important;
}


.mat-mdc-form-field
{
  /*display: inline-block !important;*/
  border-radius: 0px !important; // Custom rounded corners
  max-width: 400px !important;
}

.mdc-line-ripple::before, .mdc-line-ripple::after
{
  background-color: var(--color-a) !important;
  position: unset !important;
}

.mat-mdc-form-field-infix
{
  padding-top: 7px !important;
  width: 110px !important ;
  font-size: 14px;
}

.mat-mdc-text-field-wrapper{
  will-change: transform !important;
}

.mat-field-input-date
{
  max-width: 200px !important;
}

.mat-field-input-date-range
{
  max-width: 300px !important;
}

.mat-calendar-body-selected
{
  background-color: var(--color-a) !important;
}

.mat-calendar-body-selected:hover
{
  background-color: var(--color-b) !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical)
 {
  border-color: var(--color-a) !important;  
 }

 .mat-date-range-input-inner
  {
    color: black !important;
  }

  .mat-datepicker-content
  {
    margin-top: 5px !important;
    background-color: #f3f3f3 !important;
    border: #cccccc 1px solid !important;
  }