<div id="client-search-component" style="visibility: hidden;">
    <div id="client-search-box">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <input type="text" id="i_search_client" name="i_search_client" class="form-control" (keyup)="onKeyup($event)" placeholder="Buscar cliente:" class="input-search" style=" width: 150px;">

            <div style="display: flex; align-items: center; margin-left:-10px; width: 200px;" >
                <select type="text" id="s_status_field" name="s_status_field" class="form-control" placeholder="Buscar:" class="select-search" style="margin-left: 20px; width: 130px;" (change)="onChangeStatus($event)">
                    <option value="pmsId">Por Cédula</option>
                    <option value="name">Por Nombre</option>
                    <option value="lastName1">Por Apellido</option>
                </select>
                
                <button style="background: none; border: none; cursor: pointer; margin-left: -30px;" class="b_icon">
                    <i class="fas fa-angle-down"></i>
                </button>
            </div>

            <div class="button" style="margin-left: 20px;">
                <a (click)="search()">Buscar</a>
            </div>
        </div>

        <div style="border: 0.8px solid #f3f3f3; margin-top: 15px; min-height: 450px; max-height: 450px; overflow-y: auto; border-radius: 12px;">

            @for (client of this.clientService.clients; track $index) 
            {
                <app-client-card-component [client]="client" (click)="triggerSelectAction(client)"></app-client-card-component>
            }
        </div>
        <div>
            <div class="button" style="margin-top: 20px;">
                <a (click)="doCreateNewClient()">Crear Nuevo Cliente</a>
                &nbsp;
                <a (click)="doCancel()">Cancelar</a>
            </div>
        </div>
    </div>
</div>
